on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Compile
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            pdflatex -synctex=1 -interaction=nonstopmode FORMULATION.tex
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: FORMULATION.pdf
          asset_name: FORMULATION.pdf
          tag: latest
          overwrite: true
